.input:focus {
}

.input {
    border: 1px solid green;
    padding: 4px;
    border-radius: 4px;
}

.inputWrapper {
    border: 1px solid green;
    padding: 4px;
    border-radius: 4px;
}

.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
