.input:focus {
    border-color: var(--primary);
}

.input {
    outline: none;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inputWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}

.superInput {
}

.errorInput {
    border-color: var(--danger);
}

.errorInput:focus {
    border-color: var(--danger-hover);
}

.error {
    color: var(--danger);
    font-size: 14px;
    position: absolute;
    top: -20px;
}
