.App {
    --header_height: 60px;
    width: 100%;
    padding: 0 40px;
}

.hw {
    padding: 40px 0;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    padding: 20px 0;
    border-bottom: 1px solid #D9D9D9;
    font-size: 22px;
    font-weight: 600;
}

:root {
    --primary: #0066CC;
    --primary-hover: #0080FF ;
    --primary-active: #0059B2;
    --secondary: #f8f8f8;
    --secondary-hover: #E5F0FA ;
    --secondary-active: #C9E5FF;
    --danger: #CC1439;
    --danger-hover: #FF1A47;
    --danger-active: #B31232;
    --disabled: #004D99;
}
